body
{
    background-image: url("https://static.zerochan.net/Yuri%21%21%21.On.Ice.full.2024044.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.Socal
{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 200px;
    position: fixed;

    text-align: center;

    border: rgb(36, 36, 36) 1px solid;
}

.Socal div
{
    margin: 3px;
}

#gif
{
    margin-right: 12px;
    background-color: violet;
}

#gif img
{
    margin: auto;
    width: 100%;
}

#Container
{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    box-shadow: 0 0 17px rgb(0, 217, 255);
}

#Heades
{
    background-color: rgb(102, 199, 255);
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0;
}

#Content
{
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px;
    margin: auto;
}

#Content p
{
    text-align: center;
    text-shadow: 0 0 4px turquoise;
}

#Main
{
    margin: auto;
}