@font-face
{
    font-family: Azonixa;
    font-weight: bold;
    font-style: normal;
    src:url("../fonts/Azonix.otf");
}

#body
{
    background-color: blue;
}

#Content
{
    background-color: rgba(99, 99, 99, 0.726);

    width: 800px;

    margin: auto;

    position: relative;
}

#Heades
{
    background-color: rgb(0, 0, 0);
    padding: 11px;
}

#GameTitle
{
    font-family:Azonixa;
    font-style: normal;
    color: rgb(181, 230, 29);

    background-color: rgba(241, 97, 7, 0);

    width: 200px;
    margin-left: 20px;
}

#Nav
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    font-weight: bold;

    background-color: black;

    margin-top: 6px;

    padding: 9px;
}

#Butt
{
    background-color: rgba(228, 26, 26, 0);
    width: 500px;
    height: 45px;

    margin-left: 10px;
}

.But
{
    float: left;
    margin: 13px;
    background-color: rgba(255, 154, 22, 0);
    color: white;
}

.Home
{
    color: rgb(181, 230, 29);
}

#GameContent
{
    
}

#GameContent video
{
    position: absolute;
}

#Download
{
    position: relative;

    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    text-decoration: none;

    color: white;

    background-color: lightblue;

    padding-top: 200px;
    padding-right: 600px;
}

#Download h1
{
    background-color: rgba(126, 252, 0, 0.24);
}