body
{
    background-image: url("https://static.zerochan.net/Yuri%21%21%21.On.Ice.full.2024044.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.Socal
{
    background-color: rgb(71, 187, 255);
    color: white;
    margin: 0;
    margin-top: 200px;
    position: fixed;

    text-align: center;

    border: rgb(36, 36, 36) 3px solid;
}

.Socal div
{
    margin: 3px;
}

#gif
{
    width: 100%;
    margin-right: 12px;
    background-color: violet;
}

#Container
{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    box-shadow: 0 0 7px rgb(0, 217, 255);
}

#Heades
{
    background-color: rgb(102, 199, 255);
    color: white;
    text-align: center;
    padding: 8px;
    margin: 0;
}

#Content
{
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 10px;
}

#Content p
{
    text-align: center;
    text-shadow: 0 0 4px turquoise;
}